.crsl-container {
	position: fixed;

	height: 100%;
	width: 100%;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    background: rgba(0, 0, 0, 0.3);

    text-align: center;

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;

}

.crsl-transparent {
	opacity: 0;
}

.crsl-button_left{
	position: absolute;
    top: 50%;
    left: 30px;
}

.crsl-button_right{
	position: absolute;
    top: 50%;
    right: 30px;
}


.crsl-btn-circle {
	width: 70px;
	height: 70px;
	font-size: 24px;
	line-height: 3.6;
	border-radius: 35px;
    cursor:pointer;
    text-align:center;
    color: #fff;
    background: rgba(170, 170, 170, 0.5);
	-webkit-transition: background 0.2s ease-out 0s;
    -moz-transition: background 0.2s ease-out 0s;
    -o-transition: background 0.2s ease-out 0s;
    transition: background 0.2s ease-out 0s;    
}

.crsl-btn-circle:hover {
	background: rgba(0, 0, 0, 0.5);
}

.crsl-btn-circle:active {
	background: rgba(200, 100, 0, 0.5);
}

.crsl-arrow_right {
	position: relative;
	left:5px;
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px 0 15px 26.0px;
	border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);

}

.crsl-arrow_left {
	position: relative;
	left:-3px;
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px 26.0px 15px 0;
	border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
}

.crsl-current {
	position: absolute;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);

	max-width: 90%;
	max-height: 90%;

	width: auto;
	height: auto;

	box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.3);

}

.crsl-transitioning {
	-webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.crsl-image-dots {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 30px;
	margin: auto;
}

.crsl-image-dot {
	display: inline-block;
	margin: 5px;
	border: 3px solid rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.01);
	height: 6px;
	width: 6px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: border-color 0.2s ease-out 0s;
    -moz-transition: border-color 0.2s ease-out 0s;
    -o-transition: border-color 0.2s ease-out 0s;
    transition: border-color 0.2s ease-out 0s;    	
}

.crsl-image-dot:hover {
	border-color: rgba(0, 0, 0, 0.5);
}

.crsl-image-dot_selected, .crsl-image-dot_selected:hover {
	background: rgba(255, 255, 255, 0.6);
	border: 3px solid rgba(255, 255, 255, 0);
}

.crsl-loading {
height:60px;
width:60px;
margin:0px auto;
position:fixed;
top: 50%;
left: 50%;
-webkit-animation: rotation .6s infinite linear;
-moz-animation: rotation .6s infinite linear;
-o-animation: rotation .6s infinite linear;
animation: rotation .6s infinite linear;
border-left:6px solid rgba(174,174,174,.15);
border-right:6px solid rgba(174,174,174,.15);
border-bottom:6px solid rgba(174,174,174,.15);
border-top:6px solid rgba(174,174,174,.8);
border-radius:100%;
z-index: 99999;
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}